#myresume{
	background-color: #b8c3e6;
	color: #421205;
	padding: 30px 40px;
	margin: 0px;
	text-align: center;
}
nav{
	background-color: #2d3859;
	overflow: hidden;
	display: block;
}
nav a{
	color: #d5dcf0;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
}
nav a:hover{
	background-color: #a7a5ad;
	color: black;
}
.menuleft{
	float: left;
}

#link_youtube{
	text-decoration: none;
}
#link_facebook{
	text-decoration: none;
}
#link_email{
	text-decoration: none;
}
footer{
	background-color: #dce6f5;
	padding: 2px 10px 2px 10px;
}
footer p{
	font-size: 130%;
	color: black;
	text-align: center;
}
footer a{
	color: #4239a3;
}
#flex_containts{
	display: flex;
}
#flex_left{
	background-color: #f0f7fa;
	flex: 40%;
	padding: 10px;
}
#flex_right{
	flex: 60%;
	background-color: #f2edf7;
}
#title2{
	padding: 10px;
	margin: 0px;
	font-size: 120%;
	text-align: center;
	background-color: #465687;
}
#online_course{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}
.online_components{
	flex: 30%;
	padding: 10px;
}
.online_img{
	width: 90%;
}
.online_heading{
	font-size: 150%;
	text-align: center;
}
.online_description{
	text-align: center;
	padding: 10px;
}

@media(max-width: 800px){
	#flex_containts{
		flex-wrap: wrap;
	}
	.online_components{
		flex: 45%;
	}
	#flex_left{
		flex: 100%;
	}
	#flex_right{
		flex: 100%;
	}
}
